*{
    box-sizing: border-box;
    margin: 0;
}

:root{
    font-size: 16px;
    --background: #141E27;
    --lighter-blue: #2c3e50;
    --new-blue: #32ccff;
    --white: #ffffff;
    --paper: #f5edd9e9;
    --black: #000000;
    --font-family: "ohm-bold", sans-serif, "400", normal;
    --font-family2: "forma-djr-micro", sans-serif;
    --danishRed: #C8102E;
    --main-background: #ede9ea;
    --main-font-color: #3b3a3c;
    --main-accent: #d96061;
    --main-background-darker: #e9ebeb;
}

a{
    color: inherit;
    text-decoration: none;
}

body{
    width: 100vw;
    height: 100vh;
    margin: 0;
    
}

#container{
    width: 100%;
    height: 100%; 
    background-color: var(--main-background);
    color: var(--main-font-color);
}

main{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100vw;
    height: auto;
}

/* HEADER */

nav{
    width: 90%;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem;
}

.nav-logo{
    max-width: 6rem;
    padding-left: 1rem;
}

nav > ul {
    display: flex;
    width: 80%;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;
    font-family: var(--font-family2);
    font-size: 2rem;
    color: var(--main-font-color);
}

@media only screen and (max-width: 500px){
    .nav-logo{
        max-width: 4rem;
        padding-left: 1rem;
    }
    nav > ul{
        font-size: 1rem;
        width: 90%;
    }
}


/* danishcript */

#danishcript{
    background-color: var(--main-background);
    color: var(--main-font-color);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.big-img{
    width: 90vw;
    height: 80vh;
    background: url("newimg/danishcript-background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.5;
    position: absolute;
    top: 2%;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    filter: drop-shadow(10px 12px 10px black);
}

.main-title{
    width: 90vw;
    height: 100vh;
}

@media only screen and (max-width: 1000px){
    .main-title{
        width: 90vw;
        height: 100vh;
        display: flex;
        align-items: center;
    }
    .danishcript-title{
        font-family: var(--font-family);
        font-size: 14vw;
        width: 100%;
        margin: 0rem auto 0rem auto;
        color: var(--main-font-color);
    }
}

.danishcript-title{
    font-family: var(--font-family);
    font-size: 14vw;
    margin: 15rem auto 3rem auto;
    color: var(--main-font-color);
}


/* intro */

.intro{
    width: 80%;
    display: flex;
    flex-direction: column;
}

.origin{
    font-family: var(--font-family2);
    text-align: left;
    margin: 0 auto 1rem auto;
    width: 85%;
}


.origin-p{
    font-family: var(--font-family2);
    font-size: 1.5rem;
    color: var(--main-font-color);
    margin: 0rem auto;
    width: 85%;
    display: block;
    text-align: left;
}


/* process */

.process{
    width: 80%;
    display: flex;
    flex-direction: column;
}

.process-h2{
    font-family: var(--font-family2);
    text-align: right;
    margin: 4rem auto 1rem auto;
    width: 80%;

}

p.process-p{
    font-family: var(--font-family2);
    font-size: 1.5rem;
    color: var(--main-font-color);
    margin: 0rem auto 3rem auto;
    width: 80%;
    display: block;
    text-align: right;
}

.process-imgs{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 85%;
    margin: 2rem auto 0 auto;
}

.landing-img{
    width: 30%;
    height: auto;
    filter: drop-shadow(2px 5px 5px black);
    border-radius: 10px;
}

.nummere-img{
    width: 60%;
    height: auto;
    filter: drop-shadow(2px 5px 5px black);
    border-radius: 10px;
}

.styletile{
    max-width: 65%;
    height: auto;
    margin: 2rem auto;
    border-radius: 10px;
    filter: drop-shadow(2px 5px 5px black);
}

@media only screen and (max-width: 500px){

.process-h2{
    width: 80%;

}

p.process-p{
    font-size: 1rem;
    width: 80%;
}

.styletile{
    width: 70%;
    height: auto;
    margin: 2rem auto;
    border-radius: 10px;
    filter: drop-shadow(2px 5px 5px black);
}
}

/* categories */

.categories-h2{
    font-family: var(--font-family2);
    text-align: right;
    margin: 4rem auto 1rem auto;
    width: 85%;

}

p.categories-p{
    font-family: var(--font-family2);
    font-size: 1.5rem;
    color: var(--main-font-color);
    margin: 0rem auto;
    width: 85%;
    display: block;
    text-align: right;
}



/* FINAL PRODUCT */

.final-product{
    font-family: var(--font-family2);
    font-size: 1.5rem;
    color: var(--main-font-color);
    width: 100%;
    margin-top: 5rem;
    text-align: center;
}

.here-span{
    text-decoration: underline;
}

@media only screen and (max-width: 500px){
    .final-product{
        font-size: 1rem;
    }
}



/* back-to-projects-form */

.danish-btn{
    font-family: var(--font-family2);
    font-weight: 200;
    font-style: italic;
    font-size: 1rem;
    color: var(--main-font-color);
    transition: all;
    z-index: 20;
    padding: 1rem 1.5rem;
    filter: drop-shadow(2px 4px 2px var(--main-font-color));
    margin: 2rem auto;
}

.danish-btn:hover{
    transition-duration: 1s;
    transition-delay: 0.2s;
    box-shadow: 2px 4px 4px;
    border-radius: 5px;
    background-color: var(--white);
    cursor: pointer;
}

@media only screen and (max-width: 500px){
    .back-btn{
        font-size: 1rem;
        transition: all;
        margin: 5rem auto 4rem auto;
        padding: 0.5rem 1rem;
    }

}

/* footer */

footer{
    height: 20vh;
    width: 100vw;
    color: var(--main-font-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--main-background-darker);
    font-family: var(--font-family2);
}

footer > p {
    font-size: 1.2rem;
    padding: 1rem;
    width: 80%;
    text-align: center;
}

@media only screen and (max-width: 400px){
    footer > p {
        font-size: 1rem;
        padding: 0;
        width: 70%;
    }
}
