*{
    box-sizing: border-box;
    margin: 0;
}

:root{
    font-size: 16px;
    --background: #141E27;
    --lighter-blue: #2c3e50;
    --new-blue: #32ccff;
    --white: #ffffff;
    --paper: #f5edd9e9;
    --black: #000000;
    --font-family: "ohm-bold", sans-serif, "400", normal;
    --font-family2: "forma-djr-micro", sans-serif;
    --danishRed: #C8102E;
    --main-background: #ede9ea;
    --main-font-color: #3b3a3c;
    --main-accent: #d96061;
    --main-background-darker: #e9ebeb;
}

a{
    color: inherit;
    text-decoration: none;
}

body{
    width: 100vw;
    height: 100vh;
    margin: 0;
    
}

#container{
    width: 100%;
    height: 100%; 
}

main{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100vw;
    height: auto;
}

img{
    filter: drop-shadow(2px 5px 5px black);
}

/* HEADER */

nav{
    width: 90%;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem;
}

.nav-logo{
    max-width: 6rem;
    padding-left: 1rem;
}

nav > ul {
    display: flex;
    width: 80%;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;
    font-family: var(--font-family2);
    font-size: 2rem;
    color: var(--main-font-color);
}

@media only screen and (max-width: 500px){
    .nav-logo{
        max-width: 4rem;
        padding-left: 1rem;
    }
    nav > ul{
        font-size: 1rem;
        width: 90%;
    }
}

/* about */

#cartel{
    background-color: var(--main-background);
    color: var(--main-font-color);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.big-img{
    width: 90vw;
    height: 80vh;
    background: url("../cartel/cartel-background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.5;
    position: absolute;
    top: 2%;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    filter: drop-shadow(10px 12px 10px black);
}

.main-title{
    width: 90vw;
    height: 100vh;
}

@media only screen and (max-width: 1000px){
    .main-title{
        width: 90vw;
        height: 100vh;
        display: flex;
        align-items: center;
    }
    .cartel-title{
        font-family: var(--font-family);
        font-size: 14vw;
        width: 100%;
        margin: 0rem auto 0rem auto;
        color: var(--main-font-color);
    }
}

.cartel-title{
    font-family: var(--font-family);
    font-size: 14vw;
    margin: 15rem auto 3rem auto;
    color: var(--main-font-color);
}

/*intro*/

.intro{
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-around;
width: 95vw;
height: auto;
margin: 2rem auto;

}

.text-img{
    display: flex;
    width: 90%;
    height: auto;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto 5rem auto;
    padding: 2rem;
}

.text{
    font-family: var(--font-family2);
    font-size: 1.5rem;
    color: var(--main-font-color);
    max-width: 60ch;
    line-height: 1.5;
    text-align: left;
}

.cartel-twister{
    width: 50%;
    height: auto;
    border-radius: 10px;
    filter: drop-shadow(10px 12px 10px black);
}

.cartel-problem-h2{
    font-family: var(--font-family2);
    font-size: 2rem;
    margin: 1rem auto 2rem auto;
}

.cartel-idea-h2{
    font-family: var(--font-family2);
    font-size: 2rem;
    margin: 2rem auto 2rem auto;
}

.cartel-problem-p{
    font-family: var(--font-family2);
    font-size: 1.5rem;
    color: var(--main-font-color);
    max-width: 60ch;
    line-height: 1.5;
    text-align: left;
}

.cartel-idea-p{
    font-family: var(--font-family2);
    font-size: 1.5rem;
    color: var(--main-font-color);
    max-width: 60ch;
    line-height: 1.5;
    text-align: left;
}

@media only screen and (max-width: 1000px){
    .text-img{
        flex-direction: column;
    }    
    .cartel-twister{
        width: 70%;
        height: auto;
        border-radius: 10px;
        filter: drop-shadow(10px 12px 10px black);
        margin: 2rem auto 0 auto;
    }
    
    .cartel-problem-p{
        width: 90%;
    }
    
    .cartel-idea-p{
        width: 90%;
    }
}

@media only screen and (max-width: 500px){
    .text{
        font-size: 1rem;
    } 
    .cartel-twister{
        width: 80%;
    }
    
    .cartel-problem-p{
        width: 90%;
        font-size: 1rem;
    }
    
    .cartel-idea-p{
        width: 90%;
        font-size: 1rem;
    }
}


/* three */

.three{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 90%;
    padding: 3rem;
    margin: 2rem auto;
    padding: 2rem;
}

.three-h2{
    font-family: var(--font-family2);
    font-size: 2rem;
    color: var(--main-font-color);
    width: 100%;
    line-height: 1.5;
    text-align: center;
    margin: 2rem auto;
}

.three-story{
    font-family: var(--font-family2);
    font-size: 1.5rem;
    color: var(--main-font-color);
    max-width: 45ch;
    line-height: 1.5;
    text-align: left;
    padding: 1rem;
}

@media only screen and (max-width: 500px){
    .three-story{
        font-size: 1rem;
        max-width: 60ch;
    }
}


/* CTA */

.cta{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 90vw;
    margin: 2rem auto;
    padding: 2rem;
}

.cta-h2{
    font-family: var(--font-family2);
    font-size: 2rem;
    color: var(--main-font-color);
    width: 100%;
    line-height: 1.5;
    text-align: center;
    margin: 2rem auto;
}

.cta-p{
    font-family: var(--font-family2);
    font-size: 1.5rem;
    color: var(--main-font-color);
    max-width: 45ch;
    line-height: 1.5;
    text-align: center;
    padding: 1rem;
}

@media only screen and (max-width: 500px){
    .cta-p{
        font-size: 1rem;
        max-width: 60ch;
    }
}


/* end */

#end{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 90vw;
    margin: 2rem auto;
    padding: 2rem;
}

.final-product{
    font-family: var(--font-family2);
    font-size: 1.5rem;
    color: var(--main-font-color);
    line-height: 1.5;
    text-align: center;
    margin-top: 2rem;
}

.here-span{
    text-decoration: underline;
}

.here-span:hover{
    cursor: pointer;
}

.fa-github{
    transform: scale(5);
    margin: 1rem 0 0 5rem;
}

@media only screen and (max-width: 500px){
    .final-product{
        font-size: 1rem;
    }
    .fa-github{
        transform: scale(3);
        margin: 1rem 0 0 3rem;
    }
}

/* back-to-projects-form */

.back-btn{
    font-family: var(--font-family2);
    font-weight: 200;
    font-style: italic;
    font-size: 1rem;
    color: var(--main-font-color);
    transition: all;
    z-index: 20;
    padding: 1rem 1.5rem;
    filter: drop-shadow(2px 4px 2px var(--main-font-color));
    margin: 2rem auto;
}

.back-btn:hover{
    transition-duration: 1s;
    transition-delay: 0.2s;
    box-shadow: 2px 4px 4px;
    border-radius: 5px;
    background-color: var(--white);
    cursor: pointer;
}

@media only screen and (max-width: 500px){
    .back-btn{
        font-size: 1rem;
        transition: all;
        margin: 5rem auto 4rem auto;
        padding: 0.5rem 1rem;
    }

}

/* footer */

footer{
    height: 20vh;
    width: 100vw;
    color: var(--main-font-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--main-background-darker);
    font-family: var(--font-family2);
}

footer > p {
    font-size: 1.2rem;
    padding: 1rem;
    width: 80%;
    text-align: center;
}

@media only screen and (max-width: 400px){
    footer > p {
        font-size: 1rem;
        padding: 0;
        width: 70%;
    }
}