*{
    box-sizing: border-box;
    margin: 0;
}

:root{
    font-size: 16px;
    --background: #141E27;
    --lighter-blue: #2c3e50;
    --new-blue: #32ccff;
    --white: #ffffff;
    --paper: #f5edd9e9;
    --black: #000000;
    --font-family: "ohm-bold", sans-serif, "400", normal;
    --font-family2: "forma-djr-micro", sans-serif;
    --danishRed: #C8102E;
    --main-background: #ede9ea;
    --main-font-color: #3b3a3c;
    --main-accent: #d96061;
    --main-background-darker: #e9ebeb;
    --main-new: #F8F7F1;
}

a{
    color: inherit;
    text-decoration: none;
}

body{
    width: 100vw;
    height: 100vh;
    margin: 0;
    
}

#container{
    width: 100%;
    height: auto;
    background-color: var(--main-new);
    color: var(--main-font-color);
}

main{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100vw;
    height: auto;
    padding-bottom: 5rem;
}

/* HEADER */

nav{
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem;
    background-color: var(--main-background-darker);
}

.nav-logo{
    max-width: 6rem;
    padding-left: 1rem;
}

nav > ul {
    display: flex;
    width: 80%;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;
    font-family: var(--font-family2);
    font-size: 1rem;
    color: var(--main-font-color);
}

@media only screen and (max-width: 500px){
    .nav-logo{
        max-width: 4rem;
        padding-left: 1rem;
    }
    nav > ul{
        font-size: 1rem;
        width: 90%;
    }
}


/* about */

#hogwarts{

    background-color: var(--main-new);
    color: var(--main-font-color);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    
}

.big-img{
    width: 90vw;
    height: 80vh;
    background: url("imgs/hogwarts-staircase.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.5;
    position: absolute;
    top: 2%;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    filter: drop-shadow(10px 12px 10px black);
}

.main-title{
    width: 90vw;
    height: 100vh;
}

@media only screen and (max-width: 1000px){
    .main-title{
        width: 90vw;
        height: 100vh;
        display: flex;
        align-items: center;
    }
    .hogwarts-title{
        font-family: var(--font-family);
        font-size: 14vw;
        width: 100%;
        margin: 0rem auto 0rem auto;
        color: var(--main-font-color);
    }
}

.hogwarts-title{
    font-family: var(--font-family);
    font-size: 14vw;
    margin: 15rem auto 3rem auto;
    color: var(--main-font-color);
}

/*intro*/

.intro{
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-around;
width: 90vw;
height: auto;
margin: 2rem auto;

}

.text-img{
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto 5rem auto;
    padding: 2rem;
}

.text{
    font-family: var(--font-family2);
    font-size: 1.5rem;
    color: var(--main-font-color);
    max-width: 45ch;
    line-height: 1.5;
    text-align: left;
    padding-right: 1rem;
}

.hogwarts-dashboard{
    width: 50%;
    height: auto;
    border-radius: 10px;
    filter: drop-shadow(10px 12px 10px black);
}

.official-requirements{
    font-family: var(--font-family2);
    font-size: 2rem;
    margin: 1rem auto 2rem auto;  
}

.requirements-ul{
    text-align: left;
    font-family: var(--font-family2);
    font-size: 1.5rem;
    padding: 2rem;
}

@media only screen and (max-width: 1000px){
    .text-img{
        flex-direction: column;
        padding: 4rem auto;
    }
    .text{
        font-size: 1.5rem;
        max-width: 60ch;
        text-align: left;
        margin: 1rem auto 2rem auto;
    }
    
    .hogwarts-dashboard{
        width: 90%;
    }
    .requirements-ul{
        padding: 2rem;
        width: 90%;
    }
}

@media only screen and (max-width: 500px){
    .text-img{
        flex-direction: column;
        padding: 4rem auto;
    }
    .text{
        font-size: 1rem;
        max-width: 60ch;
        text-align: left;
        margin: 1rem auto 2rem auto;
    }
    
    .hogwarts-dashboard{
        width: 100%;
    }
    .requirements-ul{
        padding: 2rem;
        width: 90%;
    }
    .requirements-ul{
        font-size: 1rem;
    }
}


/* fetch*/

.fetch{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 90%;
    padding: 3rem;
    margin: 2rem auto;
    padding: 2rem;
}

.fetch-h2{
    font-family: var(--font-family2);
    font-size: 2rem;
    color: var(--main-font-color);
    width: 100%;
    line-height: 1.5;
    text-align: center;
    margin: 2rem auto;
}

.fetch-functions1-div{
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.fetch-story{
    font-family: var(--font-family2);
    font-size: 1.5rem;
    color: var(--main-font-color);
    max-width: 45ch;
    line-height: 1.5;
    text-align: left;
    padding: 1rem;
}

.functions1-img{
    width: 50%;
    height: auto;
    border-radius: 10px;
    filter: drop-shadow(2px 4px 2px black);
}

@media only screen and (max-width: 1000px){
    .fetch-functions1-div{
        flex-direction: column;
    }
    .fetch-story{
        max-width: 60ch;
        padding: 2rem;
    }
    
    .functions1-img{
        width: 100%;
    }
}

@media only screen and (max-width: 500px){
    .fetch-functions1-div{
        flex-direction: column;
    }
    .fetch-story{
        max-width: 70ch;
        padding: 2rem;
        font-size: 1rem;
    }
    
    .functions1-img{
        width: 100%;
    }
}

/*filter-by-house*/

.filter-by-house{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 90vw;
    margin: 2rem auto;
    padding: 2rem;
}

.filter-by-house-h2{
    font-family: var(--font-family2);
    font-size: 2rem;
    color: var(--main-font-color);
    width: 100%;
    line-height: 1.5;
    text-align: center;
    margin: 2rem auto;
}

.houses-and-p{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.filter-by-house-p{
    font-family: var(--font-family2);
    font-size: 1.5rem;
    color: var(--main-font-color);
    max-width: 45ch;
    line-height: 1.5;
    text-align: left;
    padding: 1rem;
}

.filter-four-houses{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 30%;
    height: 20rem;
}

.filter-four-houses > img {
    width: 10rem;
    height: auto;
    border-radius: 50%;
    padding: 1rem;
    filter: drop-shadow(10px 10px 10px black);
}

@media only screen and (max-width: 1270px){
    .houses-and-p{
        flex-direction: column;
        width: 100%;
    }
    .filter-four-houses{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: no-wrap;
        width: 100%;
        height: auto;
    }
    .filter-four-houses > img {
        width: 8rem;
        height: auto;
    }
}

@media only screen and (max-width: 500px){
    .houses-and-p{
        flex-direction: column;
        width: 100%;
    }
    .filter-four-houses{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: no-wrap;
        width: 100%;
        height: auto;
    }
    .filter-four-houses > img {
        width: 8rem;
        height: auto;
    }
    .filter-by-house-p{
        font-size: 1rem;
        max-width: 60ch;
        padding: 1rem;
    }
}


/*inquisitors*/

.inquisitors{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 90vw;
    margin: 2rem auto;
    padding: 2rem;
}


.inquisitors-h2{
    font-family: var(--font-family2);
    font-size: 2rem;
    color: var(--main-font-color);
    width: 100%;
    line-height: 1.5;
    text-align: center;
    margin: 2rem auto;
}

.inquisitor-p-img{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.inquisitors-p{
    font-family: var(--font-family2);
    font-size: 1.5rem;
    color: var(--main-font-color);
    max-width: 45ch;
    line-height: 1.5;
    text-align: left;
    padding: 1rem;
}

.inquisitors-img{
    max-width: 50%;
    height: auto;
    border-radius: 10px;
    filter: drop-shadow(10px 12px 10px black);
}

@media only screen and (max-width: 1000px){
    .inquisitor-p-img{
        flex-direction: column;
    }
    
    .inquisitors-p{
        max-width: 60ch;
        padding: 2rem;
    }
    
    .inquisitors-img{
        max-width: 100%;
    }
    
}

@media only screen and (max-width: 500px){
    .inquisitor-p-img{
        flex-direction: column;
    }
    
    .inquisitors-p{
        max-width: 60ch;
        padding: 2rem;
        font-size: 1rem;
    }
    
    .inquisitors-img{
        max-width: 100%;
    }
    
}

/*hack*/

.hack{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 90vw;
    margin: 2rem auto;
    padding: 2rem;
}


.hack-h2{
    font-family: var(--font-family2);
    font-size: 2rem;
    color: var(--main-font-color);
    width: 100%;
    line-height: 1.5;
    text-align: center;
    margin: 2rem auto;
}

.hack-p-img{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.hack-p{
    font-family: var(--font-family2);
    font-size: 1.5rem;
    color: var(--main-font-color);
    max-width: 45ch;
    line-height: 1.5;
    text-align: left;
    padding: 1rem;
}

.hack-img{
    max-width: 30%;
    height: auto;
    border-radius: 10px;
    filter: drop-shadow(10px 12px 10px black);
}

@media only screen and (max-width: 1000px){
    .hack-p-img{
        flex-direction: column;
    }
    
    .hack-p{
        max-width: 60ch;
        padding: 2rem;
    }
    
    .hack-img{
        max-width: 100%;
    }
    
}

@media only screen and (max-width: 500px){
    .hack-p-img{
        flex-direction: column;
    }
    
    .hack-p{
        max-width: 60ch;
        padding: 2rem;
        font-size: 1rem;
    }
    
    .hack-img{
        max-width: 100%;
    }
    
}

/* end */

#end{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 90vw;
    margin: 2rem auto;
    padding: 2rem;
}

.final-product{
    font-family: var(--font-family2);
    font-size: 1.5rem;
    color: var(--main-font-color);
    line-height: 1.5;
    text-align: center;
    margin-top: 2rem;
}

.here-span{
    text-decoration: underline;
}

.here-span:hover{
    cursor: pointer;
}

.fa-github{
    transform: scale(5);
    margin: 1rem 0 0 5rem;
}

@media only screen and (max-width: 500px){
    .final-product{
        font-size: 1rem;
        color: var(--main-font-color);
        line-height: 1.5;
        text-align: center;
        margin-top: 2rem;
    }
    .fa-github{
        transform: scale(3);
        margin: 1rem 0 0 3rem;
    }
}



/* back-to-projects-form */

.back-btn{
    font-family: var(--font-family2);
    font-weight: 200;
    font-style: italic;
    font-size: 1rem;
    color: var(--main-font-color);
    transition: all;
    z-index: 20;
    padding: 1rem 1.5rem;
    filter: drop-shadow(2px 4px 2px var(--main-font-color));
    margin: 2rem auto;
}

.back-btn:hover{
    transition-duration: 1s;
    transition-delay: 0.2s;
    box-shadow: 2px 4px 4px;
    border-radius: 5px;
    background-color: var(--white);
    cursor: pointer;
}

@media only screen and (max-width: 500px){
    .back-btn{
        font-size: 1rem;
        transition: all;
        margin: 5rem auto 4rem auto;
        padding: 0.5rem 1rem;
    }

}

/* footer */

footer{
    height: 20vh;
    width: 100vw;
    color: var(--main-font-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: var(--font-family2);
    background-color: var(--main-background-darker);
    margin-top: 2rem;
}

footer > p {
    font-size: 1.2rem;
    padding: 1rem;
    width: 80%;
    text-align: center;
}

@media only screen and (max-width: 400px){
    footer > p {
        font-size: 1rem;
        padding: 0;
        width: 70%;
    }
}



